# PostgreSQL Connection URL
# Default Docker port mapped is 5445 (or use 5432 if using direct system PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5445/cleanzy?schema=public"

# Application Server Port
PORT=4200

# JSON Web Token Secret Key
JWT_SECRET="super-secret-key-change-in-production"
